# Welcome to Jupyter!

In [1]:
import pandas

In [21]:
dates = pandas.read_csv('http://webstat.banque-france.fr/fr/downloadFile.do?id=5385698&exportType=csv', delimiter= ';')

In [22]:
dates = dates.drop([0,1,2,3,4,5])

In [23]:
dates.head()

,Titre :,Dollar australien (AUD),Lev bulgare (BGN),Real brésilien (BRL),Dollar canadien (CAD),Franc suisse (CHF),Yuan renminbi chinois (CNY),Livre chypriote (CYP),Couronne tchèque (CZK),Couronne danoise (DKK),...,Leu roumain (RON),Rouble russe (RUB),Couronne suédoise (SEK),Dollar de Singapour (SGD),Tolar slovène (SIT),Couronne slovaque (SKK),Baht thaïlandais (THB),Livre turque (TRY),Dollar des Etats-Unis (USD),Rand sud-africain (ZAR)
6,22/04/2021,"1,5581","1,9558","6,6546","1,5067","1,1035","7,8181",NaN,"25,86","7,4366",...,"4,9274","91,3275","10,1237","1,6001",NaN,NaN,"37,77","9,9553","1,2046","17,2348"
7,21/04/2021,"1,5554","1,9558","6,6869","1,5137","1,1026","7,8011",NaN,"25,893","7,4364",...,"4,926","92,0836","10,1513","1,5971",NaN,NaN,"37,666","9,8156","1,2007","17,145"
8,20/04/2021,"1,5492","1,9558","6,7117","1,5089","1,1029","7,8303",NaN,"25,903","7,4365",...,"4,9278","92,2786","10,1288","1,6009",NaN,NaN,"37,69","9,7764","1,2051","17,2287"
9,19/04/2021,"1,5491","1,9558","6,7056","1,5038","1,0998","7,8323",NaN,"25,903","7,4364",...,"4,926","91,7527","10,0985","1,6014",NaN,NaN,"37,589","9,7198","1,2035","17,1398"
10,18/04/2021,-,-,-,-,-,-,NaN,-,-,...,-,-,-,-,NaN,NaN,-,-,-,-

In [24]:
dates = dates.melt(id_vars=['Titre :'], var_name= 'cur', value_name= 'one_euro_value')

In [26]:
dates.head(10)

      Titre :                      cur one_euro_value
0  22/04/2021  Dollar australien (AUD)         1,5581
1  21/04/2021  Dollar australien (AUD)         1,5554
2  20/04/2021  Dollar australien (AUD)         1,5492
3  19/04/2021  Dollar australien (AUD)         1,5491
4  18/04/2021  Dollar australien (AUD)              -
5  17/04/2021  Dollar australien (AUD)              -
6  16/04/2021  Dollar australien (AUD)         1,5459
7  15/04/2021  Dollar australien (AUD)         1,5448
8  14/04/2021  Dollar australien (AUD)         1,5561
9  13/04/2021  Dollar australien (AUD)         1,5652

In [41]:
dates = dates[(dates.one_euro_value != '-') & (dates.one_euro_value.notnull())]

In [42]:
dates.head(20)

       Titre :                      cur one_euro_value
0   22/04/2021  Dollar australien (AUD)         1,5581
1   21/04/2021  Dollar australien (AUD)         1,5554
2   20/04/2021  Dollar australien (AUD)         1,5492
3   19/04/2021  Dollar australien (AUD)         1,5491
6   16/04/2021  Dollar australien (AUD)         1,5459
7   15/04/2021  Dollar australien (AUD)         1,5448
8   14/04/2021  Dollar australien (AUD)         1,5561
9   13/04/2021  Dollar australien (AUD)         1,5652
10  12/04/2021  Dollar australien (AUD)         1,5613
13  09/04/2021  Dollar australien (AUD)         1,5579
14  08/04/2021  Dollar australien (AUD)         1,5539
15  07/04/2021  Dollar australien (AUD)         1,5581
16  06/04/2021  Dollar australien (AUD)         1,5482
21  01/04/2021  Dollar australien (AUD)           1,55
22  31/03/2021  Dollar australien (AUD)         1,5412
23  30/03/2021  Dollar australien (AUD)         1,5419
24  29/03/2021  Dollar australien (AUD)         1,5398
27  26/03/2021  Dollar australien (AUD)         1,5459
28  25/03/2021  Dollar australien (AUD)         1,5548
29  24/03/2021  Dollar australien (AUD)         1,5532

In [44]:
dates = dates.groupby(['cur']).max()

In [45]:
dates.head()

                               Titre : one_euro_value
cur
Baht thaïlandais (THB)      31/12/2020         53,536
Couronne danoise (DKK)      31/12/2020         7,4732
Couronne estonienne (EEK)   31/12/2010        15,6466
Couronne islandaise (ISK)   31/12/2020          99,68
Couronne norvégienne (NOK)  31/12/2020         9,9965

In [48]:
dates = dates[['cur', 'Titre :']]

KeyError: "['cur'] not in index"

This repo contains an introduction to [Jupyter](https://jupyter.org) and [IPython](https://ipython.org).

Outline of some basics:

* [Notebook Basics](../examples/Notebook/Notebook%20Basics.ipynb)
* [IPython - beyond plain python](../examples/IPython%20Kernel/Beyond%20Plain%20Python.ipynb)
* [Markdown Cells](../examples/Notebook/Working%20With%20Markdown%20Cells.ipynb)
* [Rich Display System](../examples/IPython%20Kernel/Rich%20Output.ipynb)
* [Custom Display logic](../examples/IPython%20Kernel/Custom%20Display%20Logic.ipynb)
* [Running a Secure Public Notebook Server](../examples/Notebook/Running%20the%20Notebook%20Server.ipynb#Securing-the-notebook-server)
* [How Jupyter works](../examples/Notebook/Multiple%20Languages%2C%20Frontends.ipynb) to run code in different languages.

You can also get this tutorial and run it on your laptop:

    git clone https://github.com/ipython/ipython-in-depth

Install IPython and Jupyter:

with [conda](https://www.anaconda.com/download):

    conda install ipython jupyter

with pip:

    # first, always upgrade pip!
    pip install --upgrade pip
    pip install --upgrade ipython jupyter

Start the notebook in the tutorial directory:

    cd ipython-in-depth
    jupyter notebook