In [1]:
import pandas

In [76]:
def create_dim_cur(table):
    dates = table.drop([0,1,2,3,4,5])
    dates = dates.melt(id_vars=['Titre :'], var_name= 'cur_code', value_name= 'one_euro_value')
    dates = dates.rename(columns = {'Titre :': 'cur_date'})
    dates = dates[(dates.one_euro_value != '-') & (dates.one_euro_value.notnull())]
    dates['cur_date']= pandas.to_datetime(dates['cur_date'], format='%d/%m/%Y')
    dates_max = dates[['cur_code', 'cur_date']]
    dates_max = dates_max.groupby('cur_code').max()
    dates = pandas.merge(dates, dates_max, 'inner', ['cur_code', 'cur_date'])
    dates = dates.rename(columns = {'cur_date': 'last_updated_date'})
    ser_code = pandas.DataFrame(table.iloc[0:1,1:])
    ser_code = ser_code.melt(var_name= 'cur_code', value_name= 'Serial_code')
    dim_currency = pandas.merge(ser_code, dates, 'inner', ['cur_code'])
    dim_currency['cur_code'] = dim_currency['cur_code'].str.rsplit('(', 1).str[1].str.rsplit(')', 1).str[0]
    return dim_currency

In [2]:
def exchange_rate_history(table):
    dates = df.drop([0,1,2,3,4,5])
    dates = dates.melt(id_vars=['Titre :'], var_name= 'cur_code', value_name= 'one_euro_value')
    dates = dates.rename(columns = {'Titre :': 'history_date'})
    dates = dates[(dates.one_euro_value != '-') & (dates.one_euro_value.notnull())]
    dates['cur_code'] = dates['cur_code'].str.rsplit('(', 1).str[1].str.rsplit(')', 1).str[0]
    dates['one_euro_value'] = dates['one_euro_value'].str.replace(',', '.')
    dates['one_euro_value'] = dates['one_euro_value'].astype(float)
    from_cur = dates.rename(columns = {'cur_code': 'from_cur_code', 'one_euro_value': 'from_euro_value'})
    to_cur = dates.rename(columns = {'cur_code': 'to_cur_code', 'one_euro_value': 'to_euro_value'})
    rate_history = pandas.merge(from_cur, to_cur, 'inner', ['history_date'])
    rate_history = rate_history[rate_history.from_cur_code != rate_history.to_cur_code]
    rate_history['exchange_rate'] = rate_history['to_euro_value']/rate_history['from_euro_value']
    return rate_history[['history_date', 'from_cur_code', 'to_cur_code', 'exchange_rate']]

In [3]:
df = pandas.read_csv('http://webstat.banque-france.fr/fr/downloadFile.do?id=5385698&exportType=csv', delimiter= ';')

In [77]:
currency_date = create_dim_cur(df)
currency_date.head()

  cur_code           Serial_code last_updated_date one_euro_value
0      AUD  EXR.D.AUD.EUR.SP00.A        2021-04-22         1,5581
1      BGN  EXR.D.BGN.EUR.SP00.A        2021-04-22         1,9558
2      BRL  EXR.D.BRL.EUR.SP00.A        2021-04-22         6,6546
3      CAD  EXR.D.CAD.EUR.SP00.A        2021-04-22         1,5067
4      CHF  EXR.D.CHF.EUR.SP00.A        2021-04-22         1,1035

In [4]:
rate_history = exchange_rate_history(df)

In [7]:
rate_history.head(50)

   history_date from_cur_code to_cur_code  exchange_rate
1    22/04/2021           AUD         BGN       1.255247
2    22/04/2021           AUD         BRL       4.270971
3    22/04/2021           AUD         CAD       0.967011
4    22/04/2021           AUD         CHF       0.708234
5    22/04/2021           AUD         CNY       5.017714
6    22/04/2021           AUD         CZK      16.597138
7    22/04/2021           AUD         DKK       4.772864
8    22/04/2021           AUD         GBP       0.557442
9    22/04/2021           AUD         HKD       5.999230
10   22/04/2021           AUD         HRK       4.859637
11   22/04/2021           AUD         HUF     233.309800
12   22/04/2021           AUD         IDR   11241.293884
13   22/04/2021           AUD         ILS       2.522110
14   22/04/2021           AUD   100 paise      58.015532
15   22/04/2021           AUD         ISK      96.912907
16   22/04/2021           AUD         JPY      83.627495
17   22/04/2021           AUD         KRW     864.007445
18   22/04/2021           AUD         MXN      15.408446
19   22/04/2021           AUD         MYR       3.179449
20   22/04/2021           AUD         NOK       6.448559
21   22/04/2021           AUD         NZD       1.077530
22   22/04/2021           AUD         PHP      37.419935
23   22/04/2021           AUD         PLN       2.924523
24   22/04/2021           AUD         RON       3.162441
25   22/04/2021           AUD         RUB      58.614659
26   22/04/2021           AUD         SEK       6.497465
27   22/04/2021           AUD         SGD       1.026956
28   22/04/2021           AUD         THB      24.241063
29   22/04/2021           AUD         TRY       6.389385
30   22/04/2021           AUD         USD       0.773121
31   22/04/2021           AUD         ZAR      11.061421
32   22/04/2021           BGN         AUD       0.796656
34   22/04/2021           BGN         BRL       3.402495
35   22/04/2021           BGN         CAD       0.770375
36   22/04/2021           BGN         CHF       0.564219
37   22/04/2021           BGN         CNY       3.997392
38   22/04/2021           BGN         CZK      13.222211
39   22/04/2021           BGN         DKK       3.802332
40   22/04/2021           BGN         GBP       0.444089
41   22/04/2021           BGN         HKD       4.779323
42   22/04/2021           BGN         HRK       3.871459
43   22/04/2021           BGN         HUF     185.867676
44   22/04/2021           BGN         IDR    8955.445342
45   22/04/2021           BGN         ILS       2.009255
46   22/04/2021           BGN   100 paise      46.218427
47   22/04/2021           BGN         ISK      77.206258
48   22/04/2021           BGN         JPY      66.622354
49   22/04/2021           BGN         KRW     688.316801
50   22/04/2021           BGN         MXN      12.275233
51   22/04/2021           BGN         MYR       2.532928

In [10]:
dates['one_euro_value'] = dates['one_euro_value'].astype(float)
dates.head()

  history_date cur_code  one_euro_value
0   22/04/2021      AUD          1.5581
1   21/04/2021      AUD          1.5554
2   20/04/2021      AUD          1.5492
3   19/04/2021      AUD          1.5491
6   16/04/2021      AUD          1.5459

In [13]:
rate_history['exchange_rate'] = rate_history['to_euro_value']/rate_history['from_euro_value']
rate_history.head(30)

,history_date,from_cur_code,from_euro_value,to_cur_code,to_euro_value,exchange_rate
1,22/04/2021,AUD,1.5581,BGN,1.9558,1.255247
2,22/04/2021,AUD,1.5581,BRL,6.6546,4.270971
3,22/04/2021,AUD,1.5581,CAD,1.5067,0.967011
4,22/04/2021,AUD,1.5581,CHF,1.1035,0.708234
5,22/04/2021,AUD,1.5581,CNY,7.8181,5.017714

In [14]:
rate_history.head(30)

,history_date,from_cur_code,from_euro_value,to_cur_code,to_euro_value,exchange_rate
1,22/04/2021,AUD,1.5581,BGN,1.95580,1.255247
2,22/04/2021,AUD,1.5581,BRL,6.65460,4.270971
3,22/04/2021,AUD,1.5581,CAD,1.50670,0.967011
4,22/04/2021,AUD,1.5581,CHF,1.10350,0.708234
5,22/04/2021,AUD,1.5581,CNY,7.81810,5.017714
6,22/04/2021,AUD,1.5581,CZK,25.86000,16.597138
7,22/04/2021,AUD,1.5581,DKK,7.43660,4.772864
8,22/04/2021,AUD,1.5581,GBP,0.86855,0.557442
9,22/04/2021,AUD,1.5581,HKD,9.34740,5.999230
10,22/04/2021,AUD,1.5581,HRK,7.57180,4.859637
11,22/04/2021,AUD,1.5581,HUF,363.52000,233.309800
12,22/04/2021,AUD,1.5581,IDR,17515.06000,11241.293884
13,22/04/2021,AUD,1.5581,ILS,3.92970,2.522110
14,22/04/2021,AUD,1.5581,100 paise,90.39400,58.015532
15,22/04/2021,AUD,1.5581,ISK,151.00000,96.912907
16,22/04/2021,AUD,1.5581,JPY,130.30000,83.627495
17,22/04/2021,AUD,1.5581,KRW,1346.21000,864.007445
18,22/04/2021,AUD,1.5581,MXN,24.00790,15.408446
19,22/04/2021,AUD,1.5581,MYR,4.95390,3.179449
20,22/04/2021,AUD,1.5581,NOK,10.04750,6.448559
21,22/04/2021,AUD,1.5581,NZD,1.67890,1.077530
22,22/04/2021,AUD,1.5581,PHP,58.30400,37.419935
23,22/04/2021,AUD,1.5581,PLN,4.55670,2.924523
24,22/04/2021,AUD,1.5581,RON,4.92740,3.162441
25,22/04/2021,AUD,1.5581,RUB,91.32750,58.614659
26,22/04/2021,AUD,1.5581,SEK,10.12370,6.497465
27,22/04/2021,AUD,1.5581,SGD,1.60010,1.026956
28,22/04/2021,AUD,1.5581,THB,37.77000,24.241063
29,22/04/2021,AUD,1.5581,TRY,9.95530,6.389385
30,22/04/2021,AUD,1.5581,USD,1.20460,0.773121

In [65]:
t.head()

                  cur_code           Serial_code
0  Dollar australien (AUD)  EXR.D.AUD.EUR.SP00.A
1        Lev bulgare (BGN)  EXR.D.BGN.EUR.SP00.A
2     Real brésilien (BRL)  EXR.D.BRL.EUR.SP00.A
3    Dollar canadien (CAD)  EXR.D.CAD.EUR.SP00.A
4       Franc suisse (CHF)  EXR.D.CHF.EUR.SP00.A

In [42]:
currency_date['cur_date']= pandas.to_datetime(currency_date['cur_date'], format='%d/%m/%Y')

In [43]:
currency_date.head(20)

     cur_date                      cur one_euro_value
0  2021-04-22  Dollar australien (AUD)         1,5581
1  2021-04-21  Dollar australien (AUD)         1,5554
2  2021-04-20  Dollar australien (AUD)         1,5492
3  2021-04-19  Dollar australien (AUD)         1,5491
6  2021-04-16  Dollar australien (AUD)         1,5459
7  2021-04-15  Dollar australien (AUD)         1,5448
8  2021-04-14  Dollar australien (AUD)         1,5561
9  2021-04-13  Dollar australien (AUD)         1,5652
10 2021-04-12  Dollar australien (AUD)         1,5613
13 2021-04-09  Dollar australien (AUD)         1,5579
14 2021-04-08  Dollar australien (AUD)         1,5539
15 2021-04-07  Dollar australien (AUD)         1,5581
16 2021-04-06  Dollar australien (AUD)         1,5482
21 2021-04-01  Dollar australien (AUD)           1,55
22 2021-03-31  Dollar australien (AUD)         1,5412
23 2021-03-30  Dollar australien (AUD)         1,5419
24 2021-03-29  Dollar australien (AUD)         1,5398
27 2021-03-26  Dollar australien (AUD)         1,5459
28 2021-03-25  Dollar australien (AUD)         1,5548
29 2021-03-24  Dollar australien (AUD)         1,5532

In [13]:
dates = currency_date[['cur', 'cur_date']]

In [14]:
dates.head(20)

                        cur    cur_date
0   Dollar australien (AUD)  22/04/2021
1   Dollar australien (AUD)  21/04/2021
2   Dollar australien (AUD)  20/04/2021
3   Dollar australien (AUD)  19/04/2021
6   Dollar australien (AUD)  16/04/2021
7   Dollar australien (AUD)  15/04/2021
8   Dollar australien (AUD)  14/04/2021
9   Dollar australien (AUD)  13/04/2021
10  Dollar australien (AUD)  12/04/2021
13  Dollar australien (AUD)  09/04/2021
14  Dollar australien (AUD)  08/04/2021
15  Dollar australien (AUD)  07/04/2021
16  Dollar australien (AUD)  06/04/2021
21  Dollar australien (AUD)  01/04/2021
22  Dollar australien (AUD)  31/03/2021
23  Dollar australien (AUD)  30/03/2021
24  Dollar australien (AUD)  29/03/2021
27  Dollar australien (AUD)  26/03/2021
28  Dollar australien (AUD)  25/03/2021
29  Dollar australien (AUD)  24/03/2021

In [42]:
dates = dates.groupby('cur').max()

In [45]:
dates.head(20)

                              cur_date
cur
Baht thaïlandais (THB)      2021-12-04
Couronne danoise (DKK)      2021-12-04
Couronne estonienne (EEK)   2010-12-31
Couronne islandaise (ISK)   2021-12-04
Couronne norvégienne (NOK)  2021-12-04
Couronne slovaque (SKK)     2008-12-31
Couronne suédoise (SEK)     2021-12-04
Couronne tchèque (CZK)      2021-12-04
Dollar australien (AUD)     2021-12-04
Dollar canadien (CAD)       2021-12-04
Dollar de Hong Kong (HKD)   2021-12-04
Dollar de Singapour (SGD)   2021-12-04
Dollar des Etats-Unis (USD) 2021-12-04
Dollar neo-zélandais (NZD)  2021-12-04
Forint hongrois (HUF)       2021-12-04
Franc suisse (CHF)          2021-12-04
Kuna croate (HRK)           2021-12-04
Lats letton (LVL)           2013-12-31
Leu roumain (RON)           2021-12-04
Lev bulgare (BGN)           2021-12-04

In [47]:
currency_date = pandas.merge(currency_date, dates_max, 'inner', ['cur', 'cur_date'])

In [48]:
currency_date.head(20)

     cur_date                          cur one_euro_value
0  2021-04-22      Dollar australien (AUD)         1,5581
1  2021-04-22            Lev bulgare (BGN)         1,9558
2  2021-04-22         Real brésilien (BRL)         6,6546
3  2021-04-22        Dollar canadien (CAD)         1,5067
4  2021-04-22           Franc suisse (CHF)         1,1035
5  2021-04-22  Yuan renminbi chinois (CNY)         7,8181
6  2007-12-31        Livre chypriote (CYP)        0,58527
7  2021-04-22       Couronne tchèque (CZK)          25,86
8  2021-04-22       Couronne danoise (DKK)         7,4366
9  2010-12-31    Couronne estonienne (EEK)        15,6466
10 2021-04-22         Livre sterling (GBP)        0,86855
11 2021-04-22    Dollar de Hong Kong (HKD)         9,3474
12 2021-04-22            Kuna croate (HRK)         7,5718
13 2021-04-22        Forint hongrois (HUF)         363,52
14 2021-04-22    Roupie indonésienne (IDR)       17515,06
15 2021-04-22       Sheqel israélien (ILS)         3,9297
16 2021-04-22  Roupie Indienne (100 paise)         90,394
17 2021-04-22    Couronne islandaise (ISK)            151
18 2021-04-22           Yen japonais (JPY)          130,3
19 2021-04-22             Won coréen (KRW)        1346,21